body {
  background-color: #082B59;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  line-height: 2;
}
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 2rem;
  margin-bottom: 0;
}
/* make images flexible */
img {
  max-width: 100%;
}
a {
  color: #59331d;
}
a:hover {
  text-decoration: none;
}
header {
  border-bottom: 10px solid #d98555;
}
/* navbar styling */
nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}
nav li {
  margin: 0 1rem 1rem 1rem;
  font-size: 1.3rem;
}
/* max width on the image in pixels */
nav .logo img {
  max-width: 150px;
}
/* flex basis on the image container, li */
nav .logo {
  flex-basis: 100%;
  text-align: center;
}
nav a {
  color: white;
  text-decoration: none;
  display: block;
}
nav a:hover {
  color: #d98555;
}
/* establishes a white background */
.main-bkgd {
  background: #ffffff url("../images/gulp-bottom-beans.jpg") repeat-x bottom;
  padding-bottom: 300px;
}
/* sits inside of the white background, centered */
.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  box-sizing: border-box;
  align-content: center;
}
article {
  flex-basis: 50%;
}
figure {
  margin: 3rem 0 0 0;
  flex-basis: 40%;
  background-color: #59331d;
  border-radius: 10px;
}
figure img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
figcaption {
  color: #f2f2f2;
  padding: 0.5rem;
}
.button {
  display: inline-block;
  background-color: #59331D;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 0;
  color: #f2f2f2;
  text-decoration: none;
  border: 3px solid #59331d;
}
.button:hover {
  background-color: #f2f2f2;
  color: #59331d;
}
footer {
  color: #f2f2f2;
  text-align: center;
  border-top: 10px solid #d98555;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
footer a {
  color: #f2f2f2;
  font-size: 2rem;
  display: block;
  margin: 0 1rem 3rem 1rem;
}

.productCol img {
    border-radius: 10px;
    max-width: 400px;
}

h2 {
    font-size: 2rem;
}
.productCol .title {
    font-size: 1.25rem;
}
.contact {
  align-items: center;
}
.contact img {
    border-radius: 10px;
}

@media screen and (min-width: 1280px) {
    nav ul {
        justify-content: right;
        align-items: end;
        padding-bottom: 8px;
    }
    nav .logo {
        flex-basis: auto;
        margin-right:auto;
        padding-top: 5px;
    }
    nav {
        margin-top: 15px;
    }
    .img2 {
        display: none;
    }
    .img1 {
        display:block;
    }
    .productCol {
        display: flex;
        flex-direction: row;
        padding-bottom: 20px;
    }
    .productText {
        padding-left: 20px;
    }
    .contact {
      display: flex;
      flex-direction: row;
      width: 1270px;
      justify-content: space-around;
    }

    

}
@media screen and (max-width: 1279px) and (min-width:768px) {
    .img1 {
        display: none;
    }

    figure {
        display: inline-block;
        max-width: 308px;
    }
    .main {
        justify-content: space-around;
        max-width: 755px;
        
    }
    .productCol {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 20px;
    }
    .productCol img {
        width:300px;
        height: fit-content;
    }
    .productText {
        padding-left: 15px;
    }
    .contact {
      display: flex;
      flex-direction: row;
      width: 755px;
      justify-content: space-evenly;
    }
    .contact img {
      width: 350px;
    }

}
@media screen and (max-width: 767px) {
    .img1 {
        display: inline;
    }
    .img2 {
        display: none;
    }
    .main {
       flex-direction: column;
       align-items: center;
       max-width: 400px;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
        padding-bottom: 8px;
    }
    nav li {
        padding: 3px; 
    }
}